* {
    box-sizing: border-box;
}
nav a {
    /* tous les liens a à l'intérieur de la balise nav */
    float: left; /* effet flottant */
    text-decoration: none; /* pas d'héritage avec effet souligné */
    color: #ffffff; /* couleur du texte */
    background: #000000; /* couleur de fond */
    height: 36px; /* hauteur */
    line-height: 33px; /* interligne */
    padding: 0 10px; /* marges intérieur */
    font-family: sans-serif; /* police d'écriture */
    font-size: 13px; /* taille du texte */
    transition: 0.5s; /* temps de transition lors du hover : une demi seconde */
}
nav a:hover {
    /* tous liens lors du survol dans la balise nav */
    background: #f43c80; /* couleur de fond */
}

body {
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    border: 1px solid royalblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
ul,
li,
a {
    text-decoration: none;
}
li {
    display: block;
}
